.Menu {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 50px;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.menu-list li {
  cursor: pointer;
  padding: 10px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-list li:hover {
  background-color: rgb(236, 236, 236);
}

.search {
  border: 1px solid black;
}

.sub-list {
  display: none;
  position: absolute;
  top: 100%;
}

.menu-list li:nth-child(1):hover .sub-list {
  display: block;
}
