.Menu {
    display: flex;
    justify-content: center;
    width: 100vw;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.menu-list li {
    cursor: pointer;
    padding: 10px;
}

.menu-list li:hover {
    background-color: rgb(236, 236, 236);
}

.search {
    border: 1px solid black;
}
